body {
    padding: 100px;
}

.submit-area {
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    padding: 40px;
}

#transaction-area {
    display: none;
}
.status {
    padding: 20px;
    margin: 0 20px;
    color: white;
    border-radius: 10px;
}

.withdraw {
    background-color: lightcoral;
}

.balance {
    background-color: orange;

}
.deposit {
    background-color: slateblue;
}